@mixin mainFont($fw, $fs, $lh) {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin flex($fd, $ai, $jc) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

$red: #F5222D;
$white: #FFFFFF;
$blue: #1890FF;

.formSize {
  width: 938px;
  min-height: 639px;
}

.formContainer {
  margin-bottom: 45px;
}

.button {
  width: 319px;
}


.textArea {
  @include mainFont(400, 16px, 24px);
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 7px 12px 0 12px;
  color: rgba(0, 0, 0, 0.75);
  min-height: 168px;
  resize: none;
}

.textArea::-webkit-input-placeholder {
  color: #BFBFBF;
}

.textArea:-moz-placeholder {
  color: #BFBFBF;
}

.textArea:focus-visible {
  outline: none;
  border: 1px solid $blue;
}

.textArea::-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

.textArea:-moz-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

.textArea:-ms-input-placeholder {
  text-indent: 0;
  transition: text-indent 0.4s ease;
}

.textArea:focus::-webkit-input-placeholder {
  text-indent: 400px;
  transition: text-indent 0.5s ease;
}

.textArea:focus::-moz-placeholder {
  text-indent: 400px;
  transition: text-indent 0.5s ease;
}

.textArea:focus:-moz-placeholder {
  text-indent: 400px;
  transition: text-indent 0.5s ease;
}

.input:focus:-ms-input-placeholder {
  text-indent: 400px;
  transition: text-indent 0.5s ease;
}

.tags {
  display: flex;
  flex-direction: column;
}

.addTagButton {
  @include mainFont(400, 16px, 24px);
  @include flex(column, center, null);
  width: 136px;
  height: 40px;
  padding: 8px 40px;
  margin-bottom: 0;
  background: $white;
  color: $blue;
  cursor: pointer;
  border: 1px solid $blue;
  border-radius: 4px;
}

.addTagButton:focus-visible {
  outline: 1px solid $blue;
}

.tagInput {
  width: 300px;
}

.inputsContainer {
  display: flex;
}

.newTagContainer {
  @include flex(column, null, null);
  margin-bottom: 5px;
}

.newTagContainer:first-child {
  margin-top: 0;
}

.deleteBtn {
  @include mainFont(400, 16px, 24px);
  @include flex(column, center, null);
  margin: 0 17px;
  height: 40px;
  padding: 8px 36px;
  background: $white;
  color: $red;
  cursor: pointer;
  border: 1px solid $red;
  border-radius: 4px;
}

.deleteBtn:focus-visible {
  outline: 1px solid $blue;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .formContainer {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .formSize {
    margin-top: 15px;
    width: calc(100% - 60px);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .formContainer {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .formSize {
    margin-top: 15px;
    width: calc(100% - 60px);
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .formContainer {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .formSize {
    margin-top: 15px;
    width: calc(100% - 60px);
  }

  .inputsContainer {
    flex-direction: column;
  }

  .deleteBtn {
    width: 136px;
    margin: 0;
  }
}