%flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.active-link {
  background-color: coral;
  color: black;
}

.main {
  @extend %flex;
  max-height: 10000vh;
  background-color: lightgray;

  .app {
    @extend %flex;
    width: 1440px;
    max-height: 10000vh;
    min-height: 100vh;
    background-color: #EBEEF3;

    .container {
      @extend %flex;
      width: 100%;
      height: auto;
      margin-top: 0;
      margin-bottom: 0;
      flex-grow: 1;
    }
  }
}



