.section {
  width: 100%;
  height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding-left: 0;

  .post {
    display: flex;
    justify-content: space-between;
    width: 941px;
    height: 132px;
    background: #FFFFFF;
    border-radius: 1px 5px 5px 1px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    margin: 26px 26px 0;
    padding: 14px 14px 23px 19px;
  }
}

.spin {
  margin-top: 150px;
}

.post:last-child {
  margin-bottom: auto;
}

@media (min-width: 1024px) and (max-width: 1168px) {
  .section {
    .post {
      width: 90%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section {
    .post {
      width: 90%;
    }
  }
}