header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #FFFFFF;
}

header > a {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.to-home {
  margin: 9px auto 15px 22px;
  width: 147px;
}

a.sign-in {
  width: 84px;
  margin: 22px 19px 22px auto;
}

a.sign-up {
  color: #52C41A;
  width: 109px;
  height: 51px;
  border: 1px solid #52C41A;
  border-radius: 5px;
  margin: 16px 22px 13px 19px;
  padding: 6px 18px 10px 18px;
}


// Для тестовой
 .dev-navigation {
  position: fixed;
  left: 20px;
  top: 100px;
  display: flex;
  flex-direction: column;
}

.test-link {
  padding: 5px;
  margin: 3px;
  border-radius: 3px;
  border: 1px solid rgba(199,199,199,0.3);
  text-align: center;
}

.test-link:hover {
  color: white;
  background: black;
}
