// удалить видимо
//* { border: 1px solid black; }

.titleLink {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1890FF;
  margin-bottom: 4px;
  margin-right: 13px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leftTop {
  display: flex;
  align-items: center;
}

.like {
  width: 16px;
  height: 15.5px;
  background-image: url("../../assets/img/like.svg");
  background-size: auto;
  margin-right: 5px;
  cursor: pointer;
}

.likeCount {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}

.tags {
  margin-bottom: 4px;
  display: flex;
  padding-left: 0;
  width: auto;
}

.tag {
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px 3px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin-right: 8px;
}

.tag:last-child {
  margin-right: 0;
}

.preview {
  margin: 0;
  max-width: 682px;
  max-height: 45px;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}


.right {
  display: flex;
  flex-direction: column;
}

.rightTop {
  display: flex;
  flex-wrap: nowrap;
}

.rightLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.name {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 2px;
}

.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.avatar {
  width: 46px;
  height: 46px;
  margin-left: 12px;
  border-radius: 50%;
}